### Import Library

In [1]:
import sys
sys.path.append(
    "/Users/jacky/Library/Mobile Documents/com~apple~CloudDocs/交大教學/DB/Lecture-Database/.venv/lib/python3.13/site-packages")

In [2]:
import mysql.connector

### Build Connection

In [4]:
conn = mysql.connector.connect(
    host="127.0.0.1",   # Change to your MySQL server host
    user="dbms_demo",        # Change to your username
    password="12345",  # Change to your password
    database="demo"  # Change to your database name
)

### Create Tables

In [5]:
# create a cursor object when working with a database connection.
# cursor object is the primary way to execute SQL queries and fetch data from DB
cursor = conn.cursor()

# 1. make a SQL statement as a string to create a table
create_scores_table = """
CREATE TABLE IF NOT EXISTS score (
    id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(20) NOT NULL,
    chinese INT NOT NULL,
    math INT NOT NULL,
    english INT NOT NULL
);
"""
# 2. execute SQL statement with cursor object
cursor.execute(create_scores_table)
# 3. commit the transaction
conn.commit()

### [C]reate Records

In [6]:
insert_score = """
INSERT INTO
    score (id, name, chinese, math, english)
VALUES
    ("001", 'John', 90, 80, 70),
    ("002", 'Mary', 55, 60, 75),
    ("003", 'Tom', 90, 95, 100);
"""    
cursor.execute(insert_score)
conn.commit()

### [R]ead Records

In [8]:
read_score = """
SELECT * FROM score;
"""
# the cursor object will execute the SELECT * FROM score query on the database
# and prepare the results for further processing.
cursor.execute(read_score)

# fetchall() method to get all the rows from the result set
# fetchone() method to get the first row from the result set
# fetchmany() method to get a specific number of rows from the result set
rows = cursor.fetchall()
print(rows)
for row in rows:
    print(f'ID: {row[0]}, Name: {row[1]}, Chinese: {row[2]}, Math: {row[3]}, English: {row[4]}')

[('001', 'John', 90, 80, 70), ('002', 'Mary', 55, 60, 75), ('003', 'Tom', 90, 95, 100)]
ID: 001, Name: John, Chinese: 90, Math: 80, English: 70
ID: 002, Name: Mary, Chinese: 55, Math: 60, English: 75
ID: 003, Name: Tom, Chinese: 90, Math: 95, English: 100

In [9]:
read_score = """
SELECT * FROM score WHERE math > 90;
"""
cursor.execute(read_score)
rows = cursor.fetchall()
print(rows)
for row in rows:
    print(f'ID: {row[0]}, Name: {row[1]}, Math: {row[3]}')

[('003', 'Tom', 90, 95, 100)]
ID: 003, Name: Tom, Math: 95

### [U]pdate Records

In [10]:
update_score = """
UPDATE
    score
SET
    math = 83
WHERE
    id = '002'        
"""
cursor.execute(update_score)
conn.commit()

### [D]elete Records

In [11]:
delete_record = "DELETE FROM score WHERE id = '002';"
cursor.execute(delete_record)
conn.commit()

### Close Connection

In [12]:
conn.close()

### Drop Tables

In [13]:
conn = mysql.connector.connect(
    host="127.0.0.1",   # Change to your MySQL server host
    user="dbms_demo",        # Change to your username
    password="12345",  # Change to your password
    database="demo"  # Change to your database name
)
cursor = conn.cursor()
cursor.execute("DROP TABLE score")
conn.commit()
conn.close()